div{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background: linear-gradient(rgb(220, 23, 23),rgb(43, 43, 220));
    text-align: center;
    margin: 20px;
    display: inline-block;   
}
#static{
    position:fixed;  /* absulate ,fixed ,static , relative */
  
}

#rel{
    position:relative;
}
#absulate{
    position: sticky;
}