p{
    color: rgb(255, 0, 0);
    line-height: 30px;
}
h1,h3{
    text-align: center;
    color: black;
}
body{
    font-size:  Georgia;
}
a{
    color: rgb(0, 128, 0);
    text-decoration:none;
}
button{
    color: aqua;
}
textarea{
    color: black;
}
h1{
    text-decoration: underline;
}