.card{
    height: 200px;
    width: 200px;
    border: 2px solid rgb(13, 13, 13);
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 4px 8px rgb(255, 0, 0);
    transition: 1s;
}
.desc{
    padding: 0 2px  0 2px;
}
img{
    width: 200px;
    border: 5px 5px 0 0;
}
.card:hover{
    box-shadow: 2px 4px 38px rgb(0, 4, 255);
}
